/*  your css code here. If applicable */
.search {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  justify-content: center;
  background-color: #007bff;
}
.search.active {
border: 1px solid  #007bff;
padding: 20px;

}
.input {
  border: none;
  outline: none;
  border: 1px solid #007bff;
  margin: 10px;
  padding: 15px;
}
.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px;
  
  cursor: pointer;
}